@tailwind base;
@tailwind components;
@tailwind utilities;



.priority-high {
  background-color: #ff4d4f;
  /* Red */
  color: #fff;
}

.priority-medium {
  background-color: #faad14;
  /* Yellow */
  color: #fff;
}

.priority-low {
  background-color: #52c41a;
  /* Green */
  color: #fff;
}